<!-- <span>{{sectionIndex}}</span> -->
<div class="row well">
<div class="col-md-2">
  <button ngf-select ng-model="File"
          accept="image/*"
          ngf-max-height="1000"
          ngf-max-size="1MB">Select picture
  </button>
</div>
<div class="col-md-2">
  <img class="imgfit" ng-src="img/{{itemU.image}}">
</div>
<div class="well col-md-7">
    <span>დასახელება</span>
    <input class="form-control" type="text" ng-model="itemU.name"/>
    <span>აღწერა</span>
    <input class="form-control"  type="text" ng-model="itemU.description"/>
    <span>ფასი (ლარი)</span>
    <input class="form-control"  type="text" ng-model="itemU.price"/>
</div>
<div class="col-md-12">
  <span class="pwarnings">{{message}}</span>
</div>

<div class="inputsize well text-center col-md-12">
<h5>ზომა 39</h5>

<span>ყველა</span>
<input ng-model="itemU.size39all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size39reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size39forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size39sold" type="text"/>

<h5>ზომა 40</h5>

<span>ყველა</span>
<input ng-model="itemU.size40all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size40reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size40forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size40sold" type="text"/>

<h5>ზომა 41</h5>

<span>ყველა</span>
<input ng-model="itemU.size41all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size41reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size41forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size41sold" type="text"/>

<h5>ზომა 42</h5>

<span>ყველა</span>
<input ng-model="itemU.size42all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size42reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size42forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size42sold" type="text"/>

<h5>ზომა 43</h5>
<span>ყველა</span>
<input ng-model="itemU.size43all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size43reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size43forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size43sold" type="text"/>

<h5>ზომა 44</h5>
<span>ყველა</span>
<input ng-model="itemU.size44all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size44reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size44forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size44sold" type="text"/>


<h5>ზომა 45</h5>
<span>ყველა</span>
<input ng-model="itemU.size45all" type="text"/>
<span>დაცულია</span>
<input ng-model="itemU.size45reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="itemU.size45forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="itemU.size45sold" type="text"/>

</div>

<hr>

<div class="col-md-12 text-center">
<button class="btn btn-success" ng-click="onFileUpdate(File)">Save
</button>
<button class="btn btn-success" ng-click="CancelUpdate()">Cancel
</button>
</div>
