<span>{{sectionIndex}}</span>

<div class="col-md-2">
  <button ngf-select ng-model="File"
          accept="image/*"
          ngf-max-height="1000"
          ngf-max-size="1MB">Select picture
  </button>
</div>
<div class="col-md-2">
  <img class="imgfit" ng-src="img/{{ItemForUpdate.image}}">
</div>
<div class="well col-md-7">
    <span>დასახელება</span>
    <input class="form-control" type="text" ng-model="fElements.sname" value="ItemForUpdate.name"/>
    <span>აღწერა</span>
    <input class="form-control"  type="text" ng-model="fElements.sdescription" value="ItemForUpdate.description"/>
    <span>ფასი (ლარი)</span>
    <input class="form-control"  type="text" ng-model="fElements.sprice" value="ItemForUpdate.price"/>
</div>
<div class="col-md-12">
  <span class="pwarnings">{{message}}</span>
</div>

<div class="inputsize well text-center col-md-12">
<h5>ზომა 39</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i39.all" type="text" value="ItemForUpdate.i39all"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i39.reserved" type="text" value="ItemForUpdate.i39reserved"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i39.forsale" type="text" value="ItemForUpdate.i39forsale"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i39.sold" type="text" value="ItemForUpdate.i39sold"/>
</div>

<!-- <h5>ზომა 40</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i40.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i40.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i40.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i40.sold" type="text"/>
</div>

<h5>ზომა 41</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i41.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i41.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i41.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i41.sold" type="text"/>
</div>

<h5>ზომა 42</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i42.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i42.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i42.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i42.sold" type="text"/>
</div>

<h5>ზომა 43</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i43.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i43.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i43.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i43.sold" type="text"/>
</div>

<h5>ზომა 44</h5>
<div class="inputsize">
<span>ყველა</span>
<input ng-model="fElements.sizes.i44.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i44.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i44.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i44.sold" type="text"/>
</div>

<h5>ზომა 45</h5>
<div>
<span>ყველა</span>
<input ng-model="fElements.sizes.i45.all" type="text"/>
<span>დაცულია</span>
<input ng-model="fElements.sizes.i45.reserved" type="text"/>
<span>იყიდება</span>
<input ng-model="fElements.sizes.i45.forsale" type="text"/>
<span>გაიყიდა</span>
<input ng-model="fElements.sizes.i45.sold" type="text"/>
</div>
</div> -->

<div class="col-md-12 text-center">
<button class="btn btn-success" ng-click="onFileSelect(File)">Save
</button>
</div>
