<h2> Shop </h2>

<h4>
<a ui-sref="home">Home</a>
<a ui-sref="items">Items</a>
</h4>

<div>
      <h3>Profile Pic</h3>
      <div>

        <h4>Upload on file select</h4>
        <button type="file" ngf-select="onFileSelect($file)"
                accept="image/*"
                ngf-max-height="1000"
                ngf-max-size="1MB">Select File
        </button>
        <span class="errorMsg">{{message}}</span>
      </div>
</div>

<div class="auth_link">

  <button ng-if="showLogin"
    class="btn btn-primary"
    ng-click="hCtrl.open()">Login
  </button>

  <button ng-if="!showLogin"
  class="btn btn-primary"
  ng-click="logoutForm()">Log out
  </button>

</div>

<session-cart ng-if="showCart"></session-cart>

<div ui-view="verifyemail"></div>
<div ui-view="changepassword"></div>
