
  <p class="pwarnings">{{cpCtrl.info[0].ConfirmationStatus}}</p>
  <div ng-if="cpCtrl.info[0].isEmailConfirmed">
    <form accept-charset="utf-8" ng-submit="changePassword()">
      <input type="password"
             ng-model="user.new_password"
             required
             placeholder="Enter new password" />
             <input type="password"
                    ng-model="user.new_password_repeat"
                    ng-pattern="user.new_password"
                    required
                    placeholder="Repeat new password" />
      <span class="glyphicon glyphicon-ok" ng-show="user.new_password = user.new_password_repeat"></span>

      <button type="submit"  class="btn btn-primary">Resend confirmation</button>
    </form>
    <p class="pwarnings">{{loginWarningResend}}</p>
  </div>
