
<div ng-if="showPasswordChange">
  <p class="pwarnings">{{cpCtrl.info[0].ConfirmationStatus}}</p>
  <div ng-if="cpCtrl.info[0].isEmailConfirmed">
    <form accept-charset="utf-8" ng-submit="changePassword()">
             <input type="password"
             ng-model="user.new_password"
             ng-change="analyze1(user.new_password)"
             required
             placeholder="Enter new password" />
             <div ng-style="passwordStrength">{{passwordRegister}}</div>
             <input type="password"
             ng-model="user.new_password_repeat"
             ng-change="analyze2(user.new_password, user.new_password_repeat)"
             required
             placeholder="Repeat new password" />
      <span class="glyphicon glyphicon-ok" ng-show="passwordMatch"></span>

      <div>
        <button type="submit"
                class="btn btn-primary"
                ng-disabled="disabledChange">Change password
        </button>
      </div>
    </form>
    <p class="pwarnings">{{loginWarningResend}}</p>
  </div>
</div>
