<input type="email" name="email"
       placeholder="Email"
       ng-model="user.em"
       class="form-control"
       required/>
<input type="password" name="password" placeholder="Password"
       ng-model="user.ps"
       class="form-control"
       required/>

<select ng-model="rms.rmid"
        ng-options="rm.rmid as rm.rmName for rm in rms"
        class="form-control">
  <option value="" selected>Remember me?</option>
</select>

  <p class="pwarnings">{{loginWarning}}</p>
  <div>
    <a class="register_link"
    ng-click="openregisterForm($event)"
    >Register</a>
  </div>
    <div>
      <a class="forgot_password"
      ng-click="showForgottenPassword($event)"
      >Forgotten password</a>
    </div>
